@import "@visuallyjs/browser-ui/css/visuallyjs.css";
@import "@visuallyjs/browser-ui-angular/css/visuallyjs-angular.css";
@import "./app/fifaworldcup.css";

app-root {
  height: 100vh;
  display: block;
}

vjs-surface, vjs-paper {
  width:100%;
    height:100%;
}

vjs-miniview {
  position:absolute;
  bottom:1rem;
  left:1rem;
}


